*, *::before, *::after{
    box-sizing: border-box;
}
html, body{
    padding: 1.618rem;
    height: 100%;
}
.canvas_container{
    position: fixed;
    top:1.618rem;
    left:1.618rem;
    right:1.618rem;
    bottom:1.618rem;
}
.audio_container{
    position: relative;
}

canvas{
    height: 100px;
    width: 400px;
    border:1px solid #ddd;
}